@using TitanBlog.Services.Interfaces
@using TitanBlog.Enums

@model TitanBlog.Models.Post
@inject IImageService _imageService


@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="row">
        <!-- Latest Posts -->
        <main class="post blog-post col-lg-8">
            <div class="container">
                <div class="post-single">
                    <div class="post-thumbnail"><img src="@_imageService.DecodeImage(Model.ImageData, Model.ImageType)" alt="..." class="img-fluid"></div>
                    <div class="post-details">

                        <h1>@Model.Title<a href="#"><i class="fa fa-bookmark-o"></i></a></h1>

                        <div class="post-footer d-flex align-items-center flex-column flex-sm-row">
                            <a href="#" class="author d-flex align-items-center flex-wrap">
                                <div class="avatar"><img src="~/images/profile-img.png" alt="..." class="img-fluid"></div>
                                <div class="title"><span>Jason Lynn</span></div>
                            </a>
                            <div class="d-flex align-items-center flex-wrap">
                                <div class="date"><i class="icon-clock"></i>@Model.Created.ToString("MMM dd, yyyy")</div>
                                <div class="comments meta-last">
                                    <i class="icon-comment"></i>
                                    @Model.Comments.Count
                                </div>
                            </div>
                        </div>
                        <div class="post-body">
                            @Html.Raw(Model.Content)
                        </div>

                        <div class="post-tags">
                            @foreach (var tag in Model.Tags.Select(t=>t.Text.ToUpper()).Distinct().ToList())
                            {
                                <a asp-action="PostsWithTag" asp-controller="Posts" asp-route-text="@tag" class="tag">#@tag</a>
                            }
                        </div>

                        @*<div class="posts-nav d-flex justify-content-between align-items-stretch flex-column flex-md-row">
                                <a href="#" class="prev-post text-left d-flex align-items-center">
                                    <div class="icon prev"><i class="fa fa-angle-left"></i></div>
                                    <div class="text">
                                        <strong class="text-primary">Previous Post </strong>
                                        <h6>I Bought a Wedding Dress.</h6>
                                    </div>
                                </a><a href="#" class="next-post text-right d-flex align-items-center justify-content-end">
                                    <div class="text">
                                        <strong class="text-primary">Next Post </strong>
                                        <h6>I Bought a Wedding Dress.</h6>
                                    </div>
                                    <div class="icon next"><i class="fa fa-angle-right">   </i></div>
                                </a>
                            </div>*@

                        <div class="post-comments">
                            <header>
                                <h3 class="h6" id="postComments">Post Comments<span class="no-of-comments">(@Model.Comments.Count)</span></h3>
                            </header>
                            @foreach (var comment in Model.Comments.OrderByDescending(c => c.Created))
                            {
                                <div class="comment mb-5">
                                    <div class="comment-header d-flex justify-content-between">
                                        <div class="user d-flex align-items-center">
                                            <div class="image"><img src="@_imageService.DecodeImage(comment.Author.ImageData, comment.Author.ImageType)" alt="..." class="img-fluid rounded-circle"></div>
                                            <div class="title">
                                                <strong>@comment.Author.FullName</strong>

                                                @if (comment.Deleted != null)
                                                {
                                                    //if comment has been soft deleted
                                                    <span class="date">
                                                        Deleted: @comment.Deleted?.ToString("MMM dd, yyyy")
                                                    </span>
                                                }
                                                else if (comment.Moderated != null)
                                                {
                                                    //if comment has been moderated
                                                    <span class="date">
                                                        Moderated: @comment.Moderated?.ToString("MMM dd, yyyy")
                                                        Reason: @comment.ModerationReason
                                                    </span>
                                                }
                                                else
                                                {
                                                    <span class="date">
                                                        Created: @comment.Created.ToString("MMM dd, yyyy")
                                                    </span>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                    <div class="comment-body">
                                        @if(comment.Moderated != null)
                                        {
                                            <p>@comment.ModeratedBody</p>
                                        }
                                        else
                                        {
                                            <p>@comment.Body</p>
                                        }
                                    </div>

                                    @if (User.IsInRole("Moderator"))
                                    {
                                        <div class="row">
                                            <div class="col">
                                                @if (comment.Moderated is null)
                                                {
                                                    <button class="btn btn-outline-info btn-sm btn-block" data-toggle="modal" data-target="#moderateModal" name="btnModerate">Moderate</button>
                                                }
                                            </div>
                                            <div class="col">
                                                <form asp-controller="Comments" asp-action="Delete" method="post">
                                                    <input type="hidden" name="Slug" value="@Model.Slug" />
                                                    <input type="hidden" name="Id" value="@comment.Id" />
                                                    <button type="submit" class="btn btn-danger btn-sm btn-block">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                    }
                                </div>
                            }
                        </div>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <div class="add-comment border-info">
                                <header>
                                    <h3 class="h6" id="newComment">Leave a comment</h3>
                                </header>
                                <form asp-controller="Comments" asp-action="Create" method="post" class="commenting-form">
                                    <input type="hidden" value="@Model.Id" name="PostId" id="PostId" />
                                    <input type="hidden" value="@Model.Slug" name="Slug" id="Slug" />
                                    <div class="row">
                                        <div class="form-group col-md-12">
                                            <textarea name="body" id="body" placeholder="Type your comment" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group col-md-12">
                                            <button type="submit" class="btn btn-outline-light">Submit Comment</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        }
                        else
                        {
                            <header>
                                <h3 class="h6">
                                    <a asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Details", "Posts", new { slug = Model.Slug })" asp-fragment="newComment">Login</a> to leave a comment!
                                </h3>
                            </header>
                        }
                    </div>
                </div>
            </div>
        </main>

        <aside class="col-lg-4">
            <!-- Widget [Search Bar Widget]-->
            <div class="widget search">
                <header>
                    <h3 class="h6">Search the blog</h3>
                </header>
                <form asp-controller="Posts" asp-action="SearchIndex" class="search-form">
                    <div class="form-group">
                        <input type="search" name="searchStr" id="search" placeholder="What are you looking for?">
                        <button type="submit" class="submit"><i class="icon-search-1"></i></button>
                    </div>
                </form>
            </div>
            <!-- Widget [Latest Posts Widget]        -->
            <div class="widget latest-posts">
                <header>
                    <h3 class="h6">Latest Posts</h3>
                </header>
                <div class="blog-posts">
                    @foreach (var item in (List<Post>)ViewData["LatestPosts"])
                    {
                        <a asp-action="Details" asp-controller="Posts" asp-route-id="@item.Id">
                            <div class="item d-flex align-items-center">
                                <div class="image"><img src="@_imageService.DecodeImage(item.ImageData, item.ImageType)" alt="..." class="img-fluid"></div>
                                <div class="title">
                                    <strong>@item.Title</strong>
                                    <div class="d-flex align-items-center">
                                        <div class="comments"><i class="icon-comment"></i>@item.Comments.Count</div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    }

                </div>
            </div>

            <!-- Widget [Categories Widget]-->
            @*<div class="widget categories">
                <header>
                    <h3 class="h6">Categories</h3>
                </header>
                <div class="item d-flex justify-content-between"><a href="#">Growth</a><span>12</span></div>
                <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
                <div class="item d-flex justify-content-between"><a href="#">Sales</a><span>8</span></div>
                <div class="item d-flex justify-content-between"><a href="#">Tips</a><span>17</span></div>
                <div class="item d-flex justify-content-between"><a href="#">Local</a><span>25</span></div>
            </div>*@

            <!-- Widget [Tags Cloud Widget]-->
            <div class="widget tags">
                <header>
                    <h3 class="h6">Tags</h3>
                </header>
                <ul class="list-inline">
                    
                    @foreach (var tag in ViewData["AllTags"] as List<string>)
                    {
                    <li class="list-inline-item">
                        <a asp-action="PostsWithTag" asp-controller="Posts" asp-route-text="@tag" class="tag">#@tag</a>
                    </li>
                    }

                </ul>
            </div>
        </aside>

    </div>
</div>

<div class="modal" id="moderateModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Modal Heading</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <form asp-controller="Comments" asp-action="Moderate">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                    <input type="hidden" name="Id" id="ModerateId" />
                    <input type="hidden" name="Slug" id="ModerateSlug" />

                    <div class="form-group">
                        <label class="control-label">Original Comment</label>
                        <input name="Body" id="CommentBody" class="form-control" readonly />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Moderated Comment</label>
                        <input name="ModeratedBody" id="ModeratedBody" class="form-control" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Reason For Moderation</label>
                        <select class="form-control" name="ModerationReason" id="ModerationReason" asp-items="Html.GetEnumSelectList<ModerationType>()"></select>
                    </div>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-sm btn-dark btn-block" />
                    </div>
                </form>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>

@section Scripts
{
    <script>
        document.getElementsByName("btnModerate").forEach((btn) => {
            btn.addEventListener("click", function () {

                document.getElementById("ModerateId").value =
                    $(this).closest(".row").find("[Name='Id']").val();

                document.getElementById("ModerateSlug").value =
                    $(this).closest(".row").find("[Name='Slug']").val();

                $("#CommentBody").val(
                    $(this).closest(".comment").find(".comment-body").find("p").text()
                )

            });
        });
    </script>
}